<h1>Company details</h1>
{{#each user}}

<form action="/user/details" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{this.name}}">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="{{this.email}}" readonly>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" name="password" value="{{this.password}}">
    </div>


    <div class="form-group">
        <label for="marketcap">Market cap</label>
        <input type="text" class="form-control" id="marketcap" name="marketcap" value="{{this.marketcap}}">
    </div>
    <div class="form-group">
        <label for="cmps">CMPS</label>
        <input type="text" class="form-control" id="cmps" name="cmps" value="{{this.cmps}}">
    </div>
    <div class="form-group">
        <label for="stock">Stock</label>
        <input type="text" class="form-control" id="stock" name="stock" value="{{this.stock}}">
    </div>
    <div class="form-group">
        <label for="dy">DY</label>
        <input type="text" class="form-control" id="dy" name="dy" value="{{this.dy}}">
    </div>
    <div class="form-group">
        <label for="roce">ROCE</label>
        <input type="text" class="form-control" id="roce" name="roce" value="{{this.roce}}">
    </div>
    <div class="form-group">
        <label for="roe">ROE</label>
        <input type="text" class="form-control" id="roe" name="roe" value="{{this.roe}}">
    </div>
    <div class="form-group">
        <label for="de">Dept of equity</label>
        <input type="text" class="form-control" id="de" name="de" value="{{this.de}}">
    </div>
    <div class="form-group">
        <label for="eps">EPS</label>
        <input type="text" class="form-control" id="eps" name="eps" value="{{this.eps}}">
    </div>
    <div class="form-group">
        <label for="reserves">Reserves</label>
        <input type="text" class="form-control" id="reserves" name="reserves" value="{{this.reserves}}">
    </div>
    <div class="form-group">
        <label for="debt">Debt</label>
        <input type="text" class="form-control" id="debt" name="debt" value="{{this.debt}}">
    </div>

</form>
{{/each}}